

/* Image */

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.image:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("images/overlay.png");
	width: 100%;
	height: 100%;
	z-index: 1;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 40%;
}

	.image.left img, .image.right img {
		width: 100%;
	}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}
/* 
.postvisible {
	display:none;
}

.postvisible_on {
	display: block;
}

.bookmarkvisible {
	display: none;
}

.bookmarkvisible_on {
	display: block;
}
 */
.row > .col-4 #sidebar_responsive{
	display: none;
}

#sidebar_element_bottom {
	display: none;
}

#search {
	width: 300px;
	margin-top: 15px;
	margin-left: 10%;
}

#search #searchholder {
	height: 40px;
}

.header_profileimg {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 50%;
	vertical-align: middle;
}

#imagecanvas {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	border-radius: 50%;
}


 	
#sidebar_fix {
	position: relative;

}

.sidebar_side {
	width: 400px;
/* 	position: fixed; */
}

.sidebar_side_on {
	top: 100px;
	width: 400px;
/* 	position: fixed; */
}

#sidebar_element {
	border: 1px solid white;
	padding: 20px;
}

#sidebar_element #sidebar_follow_list {
	overflow-y: auto;
	height: 150px;
}

#sidebar_element #follow_list {
	display: flex;
	margin-left: 20px;
}

#follow_list .header_profileimg {
	width: 50px; 
	height: 50px;
}

#follow_list .follow_id {
	margin-top: 6px;
	margin-left: 15px;
	margin-right: 10px;
	font-weight: bold;	
	cursor: pointer;
}

#sidebar_element #chatroom_list {
	margin-top: 30px;
	height: 500px;
	overflow-y: auto;
}

#sidebar_side #chatroom_list .chatroom_id {
	margin-left: 20px;
}

	 
#maincontent #content1 {
	border: 1px solid white;
	width: 100%;
	display: block;
	margin: 0 0 2em 0;
	padding: 10px;
}

#content1 #post_header {
	margin-bottom: 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;	
}

#post_header #post_header_element {
	vertical-align: middle;
}

#post_header_element .post_title {
	margin-left: 30px;
	margin-top: 10px;	
}

#content1 #post_hashtag {

}

#post_header_element .icon_menu_sprite {
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#maincontent #content1 .imagefit {
	height: 500px;
}

.writepost_layout {
	width: 100%;
	text-align: center;
}

.writepost_layout .writepost_form {
	width: 100%;
	display: inline-block;
}

#writepost_imagecanvas {
	width: 400px;
	height: 400px;
	border: 2px solid white;
	display: inline-block;
}

#maincontent #content1 #bottom_menu {

}

#bottom_menu #bottom_menu_icon {
	margin-left: 30px;
	display: flex;
}

#bottom_menu_icon .icon_heart_sprite {
	margin-right: 10px;
}

#bottom_menu_icon .icon_heart_sprite_on {
	margin-right: 10px;
}

#bottom_menu_icon .icon_bookmark_sprite {
	margin-right: 10px;
}

#bottom_menu_icon .icon_bookmark_sprite_on {
	margin-right: 10px;
}

#bottom_menu_icon .icon_bookmark_sprite {
	margin-right: 10px;
}

#bottom_menu_icon .icon_download_sprite {
	padding: 0;
}

#bottom_menu_icon input {	
	width: 100%;
	height: 100%;
	padding: 0;
	box-shadow: inset 0 0 0 0;
}

#bottom_menu #bottom_menu_text {
	display: flex;
}

#bottom_menu .like_count {
	width: 100px;
	margin-top: 10px;
	margin-left: 30px;
}

#bottom_menu .bookmark_count {
	width: 100px;
	margin-top: 10px;
	margin-left: 30px;	
}

#bottom_menu #comment {
	margin-left: 50px;
	margin-right: 30px;
	display: flex;
	justify-content: space-between;
}

#comment .comment_list {
	display: flex;
}

.comment_list .comment_id {
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.comment_list .comment_elem {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.icon_comment_heart {
	margin-top: 10px;
	margin-left: 10px;
}

.icon_comment_heart_on {
	margin-top: 10px;
	margin-left: 10px;
}

.icon_comment_del_sprite {
	margin-top: 8px;
	margin-left: 10px;
}

#comment .comment_date {
	margin-top: 3px;
}

#comment_new {
	display: flex;
	margin-top: 20px;
}

#comment_new .comment_btn {
	width: 50px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
}

#comment_new .comment_btn_on {
	width: 50px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
}

.line_unset {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 30px;
	margin-right: 30px;
	border: 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	margin: 1em;

	}

/* mypage */

#mypage_profile {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.profile_myimage .img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.profile_menu {
	font-size: 20px;
	margin-left: 50px;
}
.profile_menu .member_id {
	margin-top: 10px;
	margin-bottom: 20px;
}

.profile_menu .menu_elem {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;

}

.col-4 .my_post_page {
	margin-bottom: 50px;
}

#my_post {
	width: 100%;
	display: inline-block;
}

#my_post #my_post_element {	
	width: 20%;	
	height: 250px;
	float: left;
	padding: 1%;
	margin-bottom: 30px;
}

#my_post #my_post_element:hover {
	opacity: 0.7;
}


#my_post_element .pic{	
	width: 100%;
	height: 80%;
}

#my_post_responsive #content1 {
	display: none;
}

/* header Toggle */

#slideToggle {
	width: 180px;
	margin-left: 290px;
	background-color: rgba(39, 40, 51, 0.965);
	z-index: 1;
	position: absolute;
	display: none;
	transform: translateX(-100%);
	border: 2px solid #e44c65;
}

#slideToggle:hover {
	outline: none;
}

#slideToggle form {
	all: unset;
}

#slideToggle input {
	all: unset;
}

	#slideToggle .headerprofilemenu {
	margin: 0px;
	padding: 0px;		
} 

.headerprofilemenu:hover {
	background: #4e4e4f;
}

.headerprofilemenu #headerprofilemenu_elem {
	width: 180px;
	margin-left: 20px;
}

/* post_slideToggle */

#post_slideToggle {
	display: none;
	width: 180px;
	margin-left: 30px;
	background-color: rgba(39, 40, 51, 0.965);
	z-index: 3;
	position: absolute;
	transform: translateX(-100%);
	border: 2px solid #e44c65;
}

#post_slideToggle:hover {
	outline: none;
}

#post_slideToggle form {
	all: unset;
}

#post_slideToggle input {
	all: unset;
}

#post_slideToggle .headerprofilemenu {
	margin: 0px;
	padding: 0px;		
} 

.headerprofilemenu:hover {
	background: #4e4e4f;
}

.headerprofilemenu #headerprofilemenu_elem {
	width: 180px;
	margin-left: 20px;
}

/* like_slideToggle */

#like_slideToggle {
	display: none;
	width: 200px;
	margin-left: 120px;
	background-color: rgba(39, 40, 51, 0.965);
	z-index: 3;
	position: absolute;
	transform: translateY(-100%);
	border: 2px solid #e44c65;
}

#like_slideToggle:hover {
	outline: none;
}

#like_slideToggle form {
	all: unset;
}

#like_slideToggle input {
	all: unset;
}

#like_slideToggle .headerprofilemenu {
	margin: 0px;
	padding: 0px;		
} 


@media screen and (max-width: 1680px) {
	.sidebar_side {
		width: 300px;
/* 		position: fixed; */
	}
	
	.sidebar_side_on {
		width: 300px;
/* 		position: fixed; */
	}
}

/* chat */
#chat_content1 {
	border: 1px solid white;
	width: 100%;
	height: 700px;
	display: block;
	margin: 0 0 2em 0;
	padding: 10px;
}

#chat_content1 #chat_header {
	height: 90px;
	border-bottom: 1px solid white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

#chat_header .chatroom_menu {
	background: #1c1d26;
	border: 0;
	outline: 0;
}

.chatroom_menu .chatroom_menuimg {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;	
}

.chatroom_menuimg span {
	display: block;
	width: 1px;
	height: 10px;
	background: white;
}

.chatroom_menuimg span:nth-child(2) {
	transform: rotate(90deg);
}

#chatroom_menu .chatroom_menu_form {
	display: none;
	width: 180px;
	margin-left: 30px;
	background-color: rgba(39, 40, 51, 0.965);
	z-index: 3;
	position: absolute;
	transform: translateX(-100%);
	border: 2px solid #e44c65;
}

#chatroom_menu .chatroom_menu_form:hover {
	outline: none;
}

#chatroom_menu .chatroom_menu_form form {
	all: unset;
}

#chatroom_menu .chatroom_menu_form input {
	all: unset;
}

#chatroom_menu .chatroom_member_list_form {
	padding: 10px;
}

.chatroom_menu_form .invitebtn {
	background: #1c1d26;
	border: 0;
	outline: 0;	
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
}

.chatroom_menu_form .memberimg {
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.chatroom_menu_form .memberimg span {
	display: block;
	width: 1px;
	height: 20px;
	background: white;
}

.chatroom_menu_form .memberimg span:nth-child(2) {
	transform: rotate(90deg);
}

.chatroom_menu_form .member_id {
	margin-top: 9px;
	margin-left: 15px;
	margin-right: 10px;
	font-weight: bold;		
}

.chatroom_menu_form .chatroom_member_list_my {
	display: flex;
}

.chatroom_member_list_my img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid black;
}

.chatroom_menu_form .chatroom_member_list_exep {
	display: flex;
}

.chatroom_member_list_exep img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid black;
	
}

#chat_content1 #chat_form {
	height: 510px;
	border-bottom: 1px solid white;
	padding: 30px;
	overflow-y: auto;
}

#chat_form .chat_msg_my_form {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}

#chat_form .chat_myLog {

}

.chat_myLog .chat_myprofile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.chat_myLog .chat_myname {
	margin-left: 20px;
}

.chat_myLog .chat_myimg {
	
}

.chat_myimg img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.chat_myLog .chat_mymsg {
	margin-top: 20px;
	word-break: break-all;
	position: relative;
	min-width: 150px;
	max-width: 300px;
	padding: 10px;
	background: #e44c65;
	border-radius: 10px;
}

.chat_mymsg:after {
	 border-top:0px solid transparent; 
	 border-left: 20px solid transparent; 
	 border-right: 5px solid transparent; 
	 border-bottom: 10px solid #e44c65; 
	 content:""; 
	 position:absolute;
	 top:-10px;
	 right:10px; 	
}

.chat_myLog .chat_mymsgFile {
	min-width: 150px;
	max-width: 300px;
}

.chat_myLog .chat_mymsgFile img {
	width: 300px;
	height: 200px;
}

.chat_myLog .chat_original_filename {
	margin-top: 10px;
	margin-left: 20px;
}

.chat_myLog .chat_file_bottom {
	display: flex;
	justify-content: space-between;
}


.chat_yourLog .chat_yourmsgFile {
	min-width: 150px;
	max-width: 300px;
}

.chat_yourLog .chat_yourmsgFile img {
	width: 300px;
	height: 200px;
}

.chat_yourLog .chat_original_filename {
	margin-top: 10px;
	margin-left: 20px;
}

.chat_yourLog .chat_file_bottom {
	display: flex;
	justify-content: space-between;
}

#chat_form .chat_msg_your_form {
	margin-bottom: 20px;
	display: flex;
}

#chat_form .chat_yourLog {

}

.chat_yourLog .chat_yourprofile {
	display: flex;
	align-items: center;
}

.chat_yourLog .chat_yourname {
	margin-left: 20px;
}

.chat_yourLog .chat_yourimg {
	
}

.chat_yourimg img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.chat_yourLog .chat_yourmsg {
	margin-top: 20px;
	word-break: break-all;
	position: relative;
	min-width: 150px;
	max-width: 300px;
	padding: 10px;
	background: #e44c65;
	border-radius: 10px;	
}

.chat_yourmsg:after {
	 border-top:0px solid transparent; 
	 border-left: 5px solid transparent; 
	 border-right: 20px solid transparent; 
	 border-bottom: 10px solid #e44c65; 
	 content:""; 
	 position:absolute;
	 top:-10px;
	 left:10px; 	
}

#chat_content1 #chat_send {
	display: flex;
	padding: 10px;
}

#chat_send .chat_holder {
	width: 90%;
}

#chat_send .chat_btn {
	width: 50px;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 10px;
	cursor: pointer;
}

#chat_send .chat_file {
	display: none;
}

#topbar {
	border: 1px solid white;
	margin-bottom: 10px;
	padding: 20px;
	width: 100%;
	overflow-x: auto;
}

#topbar #topbar_element {
	display: flex;
}

#topbar_element #follow_list {
	display: flex;
	margin-left: 15px;
}

#sidebar_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#sidebar_header h4 {
	margin: 0;
}

.newchatroom {
	background: #1c1d26;
	border: 0;
	outline: 0;
}

.newchatroom .newchatroomimg {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;	
}

.newchatroom span {
	display: block;
	width: 1px;
	height: 10px;
	background: white;
}

.newchatroom span:nth-child(2) {
	transform: rotate(90deg);
}

#newchatroom .follow_list_form {
	display: none;
	width: 180px;
	margin-left: 30px;
	background-color: rgba(39, 40, 51, 0.965);
	z-index: 3;
	position: absolute;
	transform: translateX(-100%);
	border: 2px solid #e44c65;
}

#newchatroom .follow_list_form:hover {
	outline: none;
}

#newchatroom .follow_list_form form {
	all: unset;
}

#newchatroom .follow_list_form input {
	all: unset;
}



@media screen and (max-width: 1280px) {

		#search {
			width: 200px;
			margin-top: 15px;
			margin-left: 10%;
		}
		
		#search #searchholder {
			height: 30px;
		}	
	
		#slideToggle {
			width: 180px;
			margin-left: 260px;
			background-color: rgba(39, 40, 51, 0.965);
			z-index: 1;
			position: absolute;
			display: none;
			transform: translateX(-100%);
			border: 2px solid #e44c65;
		}
		
}

@media screen and (max-width: 980px) {
		#search {
			width: 70px;
			margin-top: 15px;
			margin-left: 15%;
		}
		
		#search #searchholder {
			height: 30px;
		}	
		
		.row > .col-4 #sidebar_responsive{
			display: block;
		}
		
		#sidebar_responsive #sidebar_element {
			height: 100px;
			overflow-x: auto;
		}
		
		#sidebar_responsive #responsive_sidebar_follow_list {
			overflow-x: auto;
			display: flex;
		}
		
		#sidebar_responsive #chatroom_list {
			display: flex;
			margin-top: 5px;
			height: 30px;

		}
		
		#sidebar_responsive #chatroom_list .chatroom_id {
			margin-right: 30px;
		}
		
		#sidebar_side {
			display: none;
		}		
}

@media screen and (max-width: 736px) {
		#bottom_menu .like_count {
			width: 80px;
			margin-top: 10px;
			margin-left: 30px;
		}
	
		#bottom_menu .bookmark_count {
			width: 80px;
			margin-top: 10px;
			margin-left: 30px;	
		}
		
		#my_post #my_post_element {	
			width: 400px;	
			height: 300px;
			float: left;
			padding: 1%;
			margin-bottom: 30px;
		}

}

@media screen and (max-width: 480px) {

		#my_post {
			display: none;
		}
		
		#my_post_responsive #content1 {
			display: inline-block;
			max-width: 100%;
			height: 400px;
		}
		
		#my_post_responsive #content1:hover {
			opacity: 0.7;
		}
		
		#my_post_responsive .pic{	
			width: 100%;
			height: 300px;
		}
		
		#my_post_responsive h3 {
			text-align: center;
		}

		#bottom_menu .like_count {
			width: 70px;
			margin-top: 10px;
			margin-left: 30px;
		}
	
		#bottom_menu .bookmark_count {
			width: 70px;
			margin-top: 10px;
			margin-left: 30px;	
		}
	
}