<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="col-8 col-12-medium">
	<meta charset="utf-8" />
		<!-- Comment -->
		<div th:id="|comment_item_${commentlogic.get().getComment_no()}|">
			<div class="detail_comment" id="comment">
			<!-- comment pk -->
				<div class="comment_list">
					<img class="header_profileimg" th:src="| /memberimg/${commentlogic.get().getMember_profileimg().getMember_profileimg_filename()} |">
					<h5 class="comment_id">[[| ${commentlogic.get().getMember().getMember_id()} |]]</h5>
					<h6 class="comment_elem">[[ ${commentlogic.get().getComment_text()} ]]</h6>
					<div th:id="| commentLike_${commentlogic.get().getComment_no()} |" class="icon_comment_heart" th:onclick="likecomment(this.id, [[${commentlogic.get().getPost_no()}]] )"></div>
					<div th:id="${commentlogic.get().getComment_no()}" class="icon_comment_del_sprite" onclick="delcomment(this.id)"></div>
				</div>
				
				<div class="comment_date">
					<h6>[[ ${commentlogic.get().getComment_date()} ]]</h6>
				</div>
			</div>	
		</div>
		
	<script src="assets/js/mainboard.js"></script>
</html>