<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/icon.css" />
	<link rel="stylesheet" href="/assets/css/additional.css" />
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
	<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body>
	<div>
		
		<header th:replace="fragments/header :: headerFragment"></header>
		
		<div layout:fragment="content"></div>
		
		<footer th:replace="fragments/footer :: footerFragment"></footer>
		
		<script src="/assets/js/common/additional.js"></script>
		<script src="/assets/js/common/jquery.min.js"></script>
		<script src="/assets/js/common/jquery.scrolly.min.js"></script>
		<script src="/assets/js/common/jquery.dropotron.min.js"></script>
		<script src="/assets/js/common/jquery.scrollex.min.js"></script>
		<script src="/assets/js/common/browser.min.js"></script>
		<script src="/assets/js/common/breakpoints.min.js"></script>
		<script src="/assets/js/common/util.js"></script>
		<script src="/assets/js/common/main.js"></script>
		
	</div>
</body>
</html>