<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Title</title>
	</head>
	
	<header th:fragment="headerFragment">
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
		
			<header id="header">
				<h1 id="logo"><a href="/mainboard">MySimpleWebApp</a></h1>
				
				<form method="GET" action="/search">
					<div id="search" th:if="${session.session_info != null}">
						<input id="searchholder" name="search" type="text" placeholder="검색" value="">
					</div>
				</form>
				
				<nav id="nav">
					<ul th:if="${session.session_info == null}">
						<li><a href="/">Home</a></li>
						<li><a href="/#one" class="scrolly">SignIn</a></li>
						<li><a href="/signup" class="button primary">SignUp</a></li>
						<li></li>
					</ul>
					<ul th:unless="${session.session_info == null}">
						<!-- <li>alarm_cnt</li> -->	
						<li><img class="header_profileimg" th:src="| /memberimg/${session.session_info.get().getMember_profileimg().getMember_profileimg_filename()} |"></li>
						
						<input id="my_no" type="hidden" th:value="${session.session_info.get().getMember_no()}" />
						
						<li><a id="myPanel" href="">[[ ${session.session_info.get().getMember_nickname()} ]] 님 반갑습니다.&nbsp;&nbsp;▼</a></li>
						<li><a href="/mainboard">Home</a></li>
						<li><a th:href="| /mypage/${session.session_info.get().getMember_id()} |">MyPage</a></li>
						<li><a id="myPanel_alarm" href="">[[ ${alarm_count} ]]</a></li>
						<li><a href="/chat" class="button primary">Chat</a></li>				
					</ul>

					<div id="slideToggle" class="slideToggle">
						<div  class="headerprofilemenu">
							<input type="button" id="headerprofilemenu_elem" value="Modify" class="headerprofilemenu_elem" onClick="location.href='/modifymember'">
						</div>
						<div  class="headerprofilemenu">
							<form method="post" action="/signout">
								<input type="submit" id="headerprofilemenu_elem" value="SignOut" class="headerprofilemenu_elem">
							</form>
						</div>
						<div  class="headerprofilemenu">
							<form method="post" action="/deletemember">
								<input type="submit" id="headerprofilemenu_elem" value="회원탈퇴" class="headerprofilemenu_elem">
							</form>
						</div>
					</div>
					
					<div id="slideToggle_alarm" class="slideToggle_alarm">
			
						<div id="header_chat_alarm" class="alarm_list">
							<div th:each="alarm, num : ${alarm}">
								<div th:if="${alarm.alarm_division} == 'chat'">
									<form th:id="| chat_alarm_no_${alarm.getChatroom_no()} |" method="post" action="/move_detail_chat">
										<input type="hidden" name="alarm_no" th:value="${alarm.getAlarm_no()}" />
										<input type="hidden" name="chatroom_no" th:value="${alarm.getChatroom_no()}" />
									<div th:if="${alarm.getChatlog().getChatlog_division == 'text'}" >
										<div class="header_alarm_layout1" th:id="| chat_alarm_group_cnt_${alarm.getChatroom_no()} |">[[${alarm.alarm_group_count}]]</div>
										<div class="">[[ ${alarm.getMember().getMember_id()} ]]</div>
										<div id="header_chat_log" class="header_alarm_layout2">[[ ${alarm.getChatlog().getChatlog_log} ]]</div>
									</div>
									<div th:if="${alarm.getChatlog().getChatlog_division == 'file'}" >
										<div class="header_alarm_layout1">[[${alarm.alarm_group_count}]]</div>
										<div class="">[[ ${alarm.getMember().getMember_id()} ]] 님이 사진을 전송하였습니다.</div>
									</div>
									<input type="image" value="">
									</form>
								</div>
							</div>
						</div>
					</div>

				</nav>

			<script type="text/javascript">
				$(document).ready(function(){
					$("#myPanel_alarm").click(function(){
						$("#slideToggle_alarm").animate({width: 'toggle'}, 400);
					})
				})
			</script>
				
			<script type="text/javascript">
				$(document).ready(function(){
					$("#myPanel").click(function(){
						$("#slideToggle").animate({width: 'toggle'}, 400);
					})
				})
			</script>	
			
			<script type="text/javascript">
				var header_chat_log = document.getElementById('header_chat_log').innerText;
				console.log(header_chat_log.length);
				if(header_chat_log.length >= 11) {
					document.getElementById('header_chat_log').innerText = header_chat_log.substr(0,11) + " ...";
				}
				
			</script>
						
			</header>

	<!-- <script type="text/javascript" th:src="@{/assets/js/socket.js}"></script> -->
		 <script type="text/javascript" th:src="@{/assets/js/alarm.js}"></script>

	</header>
	
</html>