<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>chat</h2>
						</header>

						<!-- Form -->
							<section>
								<div class="row gtr-150">

								<div class="col-8 col-12-medium">										
								</div>
							
								<!-- Sidebar_responsive -->
									<div class="col-4 col-12-medium">
										<section id="sidebar_responsive">
											<hr>
											<section id="sidebar_element">
													<div id="sidebar_header">
														<h4>채팅룸</h4>
														<div id="newchatroom" class="newchatroom">
															<div class="newchatroomimg" onclick="responsive_newchatroom()">
																	<span></span>
																	<span></span>
															</div>
															<div id="responsive_follow_list_form" class="follow_list_form">
																<div th:each="follow_my_list : ${Follow_my_list}">
																	<div id="follow_list">
																		<img class="header_profileimg" th:src="| /memberimg/${follow_my_list.getMember_profileimg().getMember_profileimg_filename()} |">
																		<h4 class="follow_id">
																		<form method="POST" action="/chat">
																			<input type="submit" name="member_id" th:value="${follow_my_list.getMember_id()}" >
																		</form>
																		</h4>
																	</div>
																</div>
															</div>	
														</div>
													</div>
													
													<div id="chatroom_list">
														<div th:each="chatroom_list : ${chatroom_list}">
														<h4 class="chatroom_id"><a th:href="| /chat/m/${chatroom_list.getChatroom_no()} | ">[[ ${chatroom_list.getChatroom().getChatroom_name()} ]]</a></h4>
														</div>
													</div>
													
											</section>
											<hr>
										</section>
									</div>									
								
									<div class="col-8 col-12-medium">
									
										<!-- Content -->
											<div id="maincontent">
											
												<section id="chat_content1">
													<div id="chat_header">
														<div th:if="${chatroom_info} != null">
														<a th:id="${chatroom_info.get().getChatroom_no()}">[[${chatroom_info.get().getChatroom_name()}]]</a>
														</div>
														
														<div id="chatroom_menu" class="chatroom_menu">
															<div class="chatroom_menuimg" onclick="chatroom_menu()">
																	<span></span>
																	<span></span>
															</div>
															<div id="chatroom_menu_form" class="chatroom_menu_form">
																<div id="chatroom_member_list_form" class="chatroom_member_list_form">
																
																	<div id="invitebtn" class="invitebtn" onclick="openinvite()">
																		<div class="memberimg">
																			<span></span>
																			<span></span>
																		</div>
																		<h4 class="member_id">친구초대</h4>
																	</div>
																	<dialog id="invite" class="invite">
																		<div class="invite_header">
																				<h4>Invite</h4>
																				<input type="text" value="dfsfds" />
																		</div>
																		<form th:each = "not_invite_member : ${not_invite_member}">
																			<div id="not_invite_member_list" class="not_invite_member_list">
																				<img class="img" th:src="| /memberimg/${not_invite_member.getMember_profileimg().getMember_profileimg_filename()} |" />
																			    <h4 class="member_id">[[${not_invite_member.getMember_id()} ]]</h4>
																			</div>
																		</form>
																		<div class="invite_submit">
																			<input type="submit" name="invite_submit_btn" onClick="" value="확인" />
																		</div>
																	</dialog>
																	
																	<div id="chatroom_member_list_my" class="chatroom_member_list_my">
																	<img class="img" th:src="| /memberimg/${session_info.get().getMember_profileimg().getMember_profileimg_filename()} |">
																			<h4 class="member_id"><a th:href="| /mypage/${session_info.get().getMember_id()} |">[[ ${session_info.get().getMember_id()} ]]</a></h4>
																	</div>
																	<div th:each = "chatroom_member_list : ${chatroom_member_list}">
																		<div id="chatroom_member_list_exep" class="chatroom_member_list_exep">
																			<img class="img" th:src="| /memberimg/${chatroom_member_list.getMember_profileimg().getMember_profileimg_filename()} |">
																			<h4 class="member_id"><a th:href="| /mypage/${chatroom_member_list.getMember().getMember_id()} |">[[ ${chatroom_member_list.getMember().getMember_id()} ]]</a></h4>
																		</div>
																	</div>
																</div>
																
															</div>
														</div>
													</div>
													
													<div id="chat_form">
														<div th:each = "getchat_Log : ${getchat_Log}">
															<div th:if="${getchat_Log.getChatlog_division} == 'text'">
																<div th:if="${getchat_Log.getMember_no()} == ${session_info.get().getMember_no()}">
																	<div class="chat_msg_my_form">
																		<div class="chat_myLog">
																			<div class="chat_myprofile">
																				<div class="chat_myimg">
																					<img class="img" th:src="| /memberimg/${getchat_Log.getMember_profileimg().getMember_profileimg_filename()} |">
																				</div>
																				<div class="chat_myname">
																					[[${getchat_Log.getMember().getMember_id()}]]
																				</div>
																			</div>
																			<div class="chat_mymsg">
																				[[${getchat_Log.getChatlog_log()}]]
																			</div>
																			<div class="chat_myTime">
																				time : < [[${getchat_Log.getChatlog_split_time()}]] >
																			</div>
																		</div>
																	</div>
																</div>
																<div th:unless="${getchat_Log.getMember_no()} == ${session_info.get().getMember_no()}">
																	<div class="chat_msg_your_form">
																		<div class="chat_yourLog">
																			<div class="chat_yourprofile">
																				<div class="chat_yourimg">
																					<img class="img" th:src="| /memberimg/${getchat_Log.getMember_profileimg().getMember_profileimg_filename()} |">
																				</div>
																				<div class="chat_yourname">
																					[[${getchat_Log.getMember().getMember_id()}]]
																				</div>
																			</div>
																			<div class="chat_yourmsg">
																				[[${getchat_Log.getChatlog_log()}]]
																			</div>
																			<div class="chat_yourTime">
																				time : < [[${getchat_Log.getChatlog_split_time()}]] >
																			</div>
																		</div>
																	</div>															
																</div>
															</div>
															<div th:if="${getchat_Log.getChatlog_division} == 'file'">
																<div th:if="${getchat_Log.getMember_no()} == ${session_info.get().getMember_no()}">
																	<div class="chat_msg_my_form">
																		<div class="chat_myLog">
																			<div class="chat_myprofile">
																				<div class="chat_myimg">
																					<img class="img" th:src="| /memberimg/${getchat_Log.getMember_profileimg().getMember_profileimg_filename()} |">
																				</div>
																				<div class="chat_myname">
																					[[${getchat_Log.getMember().getMember_id()}]]
																				</div>
																			</div>
																			<div class="chat_original_filename">
																					[[${getchat_Log.getChat_filelist().getChat_filelist_original_filename()}]]
																			</div>
																			<div class="chat_mymsgFile">
																				<img class='img' th:src="| /chatfile/${getchat_Log.getChatlog_log}" />
																			</div>
																			<div class="chat_file_bottom">
																				<div class="chat_myTime">
																					time : < [[${getchat_Log.getChatlog_split_time()}]] >
																				</div>
																				<form method='POST' action='/downloadChatFormFile'>
																					<input type='hidden' name='chat_filelist_original_filename' th:value="${getchat_Log.getChat_filelist().getChat_filelist_original_filename()}">
																					<input type='hidden' name='chat_filelist_filename' th:value="${getchat_Log.getChatlog_log}" />
																					<input type='submit' value='다운로드' />
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
																<div th:unless="${getchat_Log.getMember_no()} == ${session_info.get().getMember_no()}">
																	<div class="chat_msg_your_form">
																		<div class="chat_yourLog">
																			<div class="chat_yourprofile">
																				<div class="chat_yourimg">
																					<img class="img" th:src="| /memberimg/${getchat_Log.getMember_profileimg().getMember_profileimg_filename()} |">
																				</div>
																				<div class="chat_yourname">
																					[[${getchat_Log.getMember().getMember_id()}]]
																				</div>
																			</div>
																			<div class="chat_original_filename">
																					[[${getchat_Log.getChat_filelist().getChat_filelist_original_filename()}]]
																			</div>
																			<div class="chat_yourmsgFile">
																				<img class='img' th:src="| /chatfile/${getchat_Log.getChatlog_log}" />
																			</div>
																			<div class="chat_file_bottom">
																				<div class="chat_yourTime">
																					time : < [[${getchat_Log.getChatlog_split_time()}]] >
																				</div>
																				<form method='POST' action="/downloadChatFormFile">
																					<input type='hidden' name='chat_filelist_original_filename' th:value="getchat_Log.getChat_filelist().getChat_filelist_original_filename()">
																					<input type='hidden' name='chat_filelist_filename' th:value="${getchat_Log.getChatlog_log}" />
																					<input type='submit' value='다운로드' />
																				</form>
																			</div>
																		</div>
																	</div>															
																</div>
															</div>
														</div>
													</div>
													
													<div id="chat_send">
													
													<form id="sendfile">
													<label for="chat_file">파일</label>
													<input type="hidden" id="chatroom_no" name="chatroom_no" th:value="${chatroom_no}" />
													<input type="file" id="chat_file" class="chat_file" name="chat_file" onchange="sendfile()" />
													</form>
													
													<input type="text" id="chat_holder" class="chat_holder" placeholder="보내기...">
													<input type="hidden" id="my_no" th:value="${session_info.get().getMember_no()}" />
													<input type="hidden" id="my_id" th:value="${session_info.get().getMember_id()}" />
													<input type="hidden" id="my_img" th:value="${session_info.get().getMember_profileimg().getMember_profileimg_filename()}" />
													<input type="hidden" id="chatroom_no" th:value="${chatroom_no}" />
													<a class="chat_btn" onclick="send()">전송</a>
													</div>
										
												</section>
											</div>
									<hr>
									</div>
									
									<div class="col-4 col-12-medium">
										<!-- Sidebar -->
										<div id="sidebar_fix">
											<section id="sidebar_side" class="sidebar_side">
												<section id="sidebar_element">
													<div id="sidebar_header">
														<h4>채팅룸</h4>
														<div id="newchatroom" class="newchatroom">
															<div class="newchatroomimg" onclick="newchatroom()">
																	<span></span>
																	<span></span>
															</div>
															<div id="follow_list_form" class="follow_list_form">
																<div th:each="follow_my_list : ${Follow_my_list}">
																	<div id="follow_list">
																		<img class="header_profileimg" th:src="| /memberimg/${follow_my_list.getMember_profileimg().getMember_profileimg_filename()} |">
																		<h4 class="follow_id">
																		<form method="POST" action="/chat">
																			<input type="submit" name="member_id" th:value="${follow_my_list.getMember_id()}" >
																		</form>
																		</h4>
																	</div>
																</div>
															</div>	
														</div>
													</div>
													
													<div id="chatroom_list">
														<div th:each="chatroom_list : ${chatroom_list}">
														<h4 class="chatroom_id"><a th:href="| /chat/m/${chatroom_list.getChatroom_no()} | ">[[ ${chatroom_list.getChatroom().getChatroom_name()} ]]</a></h4>
														</div>
													</div>
													
												</section>
																																
											</section>	
										</div>										
									</div>
									
									
								</div>
							</div>
						</div>												
					<!-- script -->
						<script>
							function responsive_newchatroom(){
								$("#responsive_follow_list_form").animate({width: 'toggle'}, 400);
							}
							function newchatroom(){
								$("#follow_list_form").animate({width: 'toggle'}, 400);
							}
							function chatroom_menu(){
								$("#chatroom_menu_form").animate({width: 'toggle'}, 400);
							}
						</script>
						<script>
							var invite = document.getElementById('invite');
							
							function openinvite(){
								if(typeof invite.showModal === "function"){
									invite.showModal();
								}else{
									alert("The <dialog> API is not supported by this browser");
								}
							}
						</script>
						<script type="text/javascript" th:src="@{/assets/js/socket.js}"></script>
					</div>							
</html>