<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>chat</h2>
						</header>

						<!-- Form -->
							<section>
								<div class="row gtr-150">

								<div class="col-8 col-12-medium">										
								</div>
							
								<!-- Sidebar_responsive -->
									<div class="col-4 col-12-medium">
										<section id="sidebar_responsive">
											<hr>
											<section id="sidebar_element">
													<h4>채팅룸</h4>
													
											</section>
											<hr>
										</section>
									</div>									
								
									<div class="col-8 col-12-medium">
									
										<!-- Content -->
											<div id="maincontent">
											
												<section id="chat_content1">
													<div id="chat_header">
														헤더
													</div>
													
													<div id="chat_form">
														폼
													</div>
													
													<div id="chat_send">
													<input type="text" class="chat_holder" placeholder="보내기...">
													<a class="chat_btn">전송</a>
													</div>
										
												</section>
											</div>
									<hr>
									</div>
									
									<div class="col-4 col-12-medium">
										<!-- Sidebar -->
										<div id="sidebar_fix">
											<section id="sidebar_side" class="sidebar_side">
												<section id="sidebar_element">
													<div id="sidebar_header">
														<h4>채팅룸</h4>
														<div id="newchatroom" class="newchatroom">
															<div class="newchatroomimg" onclick="newchatroom()">
																	<span></span>
																	<span></span>
															</div>
															<div id="follow_list_form" class="follow_list_form">
																<div th:each="follow_my_list : ${Follow_my_list}">
																	<div id="follow_list">
																		<img class="header_profileimg" th:src="| /memberimg/${follow_my_list.getMember_profileimg().getMember_profileimg_filename()} |">
																		<h4 class="follow_id"><a th:href="| /chat/m/${follow_my_list.getMember_id()} |">[[ ${follow_my_list.getMember_id()} ]]</a></h4>
																	</div>
																</div>
															</div>	
														</div>
													</div>
													
												</section>
																																
											</section>	
										</div>										
									</div>
									
									
								</div>
							</div>
						</div>												
					<!-- script -->
						<script>
							function newchatroom(){
								$("#follow_list_form").animate({width: 'toggle'}, 400);
							}
						</script>
					</div>							
</html>