<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
					<!-- main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>[[ ${memberPost.get().getPost_title()} ]]</h2>
						</header>
						<div class="row gtr-150">
						
						<!--  대체 왜?  -->
						<div class="col-4 col-12-medium">
						</div>
						<div class="col-4 col-12-medium">
						</div>
						
							<div class="col-8 col-12-medium">
								<!-- Content -->
								<div id="maincontent">
									<section id="content1">
									
									<div id="post_header">
										<div id="post_header_element">
											<div th:id="${memberPost.get().getPost_no()}" class="icon_menu_sprite" onClick="post_slideToggleFunc(this.id)"></div>
																							
												<div th:id="post_slideToggle" th:class="${memberPost.get().getPost_no()}">
													<div th:if="${memberPost.get().getMember_no()} == ${session.session_info.get().getMember_no()}">
														<a>같아</a>
													</div>
													<div th:unless="${memberPost.get().getMember_no()} == ${session.session_info.get().getMember_no()}">
														<a>달라</a>
													</div>
												</div>
										</div>
									</div>
													
										<a class="image fit">
										<img class="imagefit" th:src="| /postimg/${memberPost.get().getPost_img().getPost_img_filename()} |" alt="">
										</a>
										<h3>[[ ${memberPost.get().getPost_subtitle()} ]]</h3>
										<p>[[ ${memberPost.get().getPost_contents()} ]]</p>
									</section>
								</div>
							<hr>
							
															
							<section id="sidebar_element_bottom">
								<h3>Magna Feugiat</h3>
								<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>
							</div>

							
							<div class="col-4 col-12-medium">
								<!-- Sidebar -->
									<section id="sidebar_side">
										<section id="sidebar_element">
											<h3>Magna Feugiat</h3>
											<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
											<footer>
												<ul class="actions">
													<li><a href="#" class="button">Learn More</a></li>
												</ul>
											</footer>
										</section>
										<hr>
																					
									</section>											
							</div>
							
							
						</div>
					</div>
				</div>
			<!-- script -->
			<script src="assets/js/mainboard.js"></script>
			<script>
				function post_slideToggleFunc(id){
					$("." + id).animate({width: 'toggle'}, 400);
				}
			</script>	
			<script>
				function like_listFunc(id){
					$("." + id).animate({width: 'toggle'}, 400);
				}
			</script>	
		</div>
</html>