<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="col-8 col-12-medium">
	<meta charset="utf-8" />
		<!-- Content -->
			<div id="maincontent">

				<section id="content1"
				th:each="post_list, num : ${post_list}">

					<div id="post_header">
						<div id="post_header_element"><h3 class="post_title">[[ ${post_list.getPost_title()} ]]</h3></div>
						
						<div id="post_header_element">
							<div th:id="${post_list.getPost_no()}" class="icon_menu_sprite" onClick="post_slideToggleFunc(this.id)"></div>
																			
								<div th:id="post_slideToggle" th:class="${post_list.getPost_no()}">
									<div th:if="${post_list.getMember_no()} == ${session.session_info.get().getMember_no()}">
										<a>같아</a>
									</div>
									<div th:unless="${post_list.getMember_no()} == ${session.session_info.get().getMember_no()}">
										<a>달라</a>
									</div>
								</div>
						</div>
						
					</div>
					
					<a th:href="| /detailpost?name=${post_list.getMember().getMember_id()} |" class="image fit">
						<img class="imagefit" th:src="| /postimg/${post_list.getPost_img().getPost_img_filename()} |" alt="">
					</a>
					<h5>[[ ${post_list.getPost_subtitle()} ]]</h5>
					<p>[[ ${post_list.getPost_contents()} ]]</p>
					
					<section id="bottom_menu">
						<hr class="line_unset">
						<div id="bottom_menu_icon">
						
							<div th:if="${like_check.get(num.index)} == null">
								<div th:id="| heart_${post_list.getPost_no()} |" th:name="${post_list.getPost_no()}" class="icon_heart_sprite" onClick="like(this.id)"></div>
							</div>
							<div th:unless="${like_check.get(num.index)} == null">
								<div th:id="| heart_${post_list.getPost_no()} |" th:name="${post_list.getPost_no()}" class="icon_heart_sprite_on" onClick="like(this.id)"></div>
							</div>
							
							<div th:id="${post_list.getPost_no()}" class="icon_bookmark_sprite"></div>
							<div th:id="${post_list.getPost_no()}" class="icon_download_sprite"></div>
						</div>
						<div id="bottom_menu_text">
							<div th:id="like_slideToggle" th:class="| likeCount_${post_list.getPost_no()} |">
								<!-- like_list -->
								<div th:if="${ !Post_Like_list.get(num.index).empty }">
								<div th:each="num3 : ${#numbers.sequence(1, Like_cnt.get(num.index))}">
									<img class="header_profileimg" th:src="| /memberimg/${Post_Like_list.get(num.index).get(num3-1).getMember_profileimg().getMember_profileimg_filename()} |">
									[[| ${Post_Like_list.get(num.index).get(num3-1).getMember().getMember_id()} |]]
								</div>
								</div>
								<div th:unless="${ !Post_Like_list.get(num.index).empty }">                                                               
									X
								</div>																	
							</div>
							
							<h5 th:id="|likeCount_${post_list.getPost_no()}|" class="like_count" onClick="like_listFunc(this.id)">좋아요 [[ ${post_list.getLike_stat().getLike_stat_count()} ]] 개</h5>

						</div>

						<!-- Comment -->

						<div th:if="${ !Post_Comment_list.get(num.index).empty }">
						<div th:each="num4 : ${#numbers.sequence(1, Comment_cnt.get(num.index))}">
							<div th:id="|comment_item_${Post_Comment_list.get(num.index).get(num4-1).getComment_no()}|">
								<div id="comment">
									<div class="comment_list">
										<img class="header_profileimg" th:src="| /memberimg/${Post_Comment_list.get(num.index).get(num4-1).getMember_profileimg().getMember_profileimg_filename()} |">
										[[| ${Post_Comment_list.get(num.index).get(num4-1).getMember().getMember_id()} |]]
										<h6 class="comment_elem">[[ ${Post_Comment_list.get(num.index).get(num4-1).getComment_text()} ]]</h6>
										<div th:if="${Post_Comment_list.get(num.index).get(num4-1).getMember_no()} == ${session.session_info.get().getMember_no()}">
										<div th:id="${Post_Comment_list.get(num.index).get(num4-1).getComment_no()}" class="icon_comment_del_sprite" onclick="delcomment(this.id)"></div>
										</div>
										
									</div>
									
									<div class="comment_date">
										<h6>[[ ${Post_Comment_list.get(num.index).get(num4-1).getComment_date()} ]]</h6>
									</div>
								</div>	
							</div>
						</div>
						</div>
						<div th:unless="${ !Post_Comment_list.get(num.index).empty }">
							X
						</div> 
						
						<!-- comment ajax -->
						<div th:id="|comment_${post_list.getPost_no()}|"></div>
						
						<div id="comment_new">
							<hr class="line_unset">
							<input type="text" th:id="|comment_text_${post_list.getPost_no()}|" th:name="${post_list.getPost_no()}" class="comment_new_input" placeholder="댓글달기">
							<a  th:id="${post_list.getPost_no()}"  class="" th:onClick="comment(this.id, comment_text_[[${post_list.getPost_no()}]] )">등록</a>
						</div>
						
					</section>
		
				</section>
						
			</div>
	</div>
	
</html>
