<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
			<div id="main" class="wrapper style1">
				<div class="container">
					<!-- main -->
							<header class="major">
								<h2>Right Sidebar</h2>
								<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
							</header>
								<div class="row gtr-150">
								
								<!--  대체 왜?  -->
								<div class="col-4 col-12-medium">
								</div>
								
								<!-- Sidebar_responsive -->
									<div class="col-4 col-12-medium">
										<section id="sidebar_responsive">
												<section id="sidebar_element">
													<h3>Magna Feugiat</h3>
													<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button">Learn More</a></li>
														</ul>
													</footer>
												</section>
												<hr>
												<section id="sidebar_element">
													<a href="#" class="image fit"><img src="images/pic07.jpg" alt=""></a>
													<h3>Amet Lorem Tempus</h3>
													<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button">Learn More</a></li>
														</ul>
													</footer>
												</section>
											</section>
									</div>
								
									<div class="col-8 col-12-medium">
										<!-- Content -->
											<div id="maincontent">
											<section id="content1"
											th:each="post_list, num : ${post_list}">
												<a href="#" class="image fit">
													<img class="imagefit" th:src="| /postimg/${post_list.getPost_img().getPost_img_filename()} |" alt="">
												</a>
												<h3>[[ ${post_list.getPost_title()} ]]</h3>
												<h5>[[ ${post_list.getPost_subtitle()} ]]</h5>
												<p>[[ ${post_list.getPost_contents()} ]]</p>
											</section>
											</div>
									<hr>
									</div>
									
									<div class="col-4 col-12-medium">
										<!-- Sidebar -->
											<section id="sidebar_side">
												<section id="sidebar_element">
													<h3>Magna Feugiat</h3>
													<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button">Learn More</a></li>
														</ul>
													</footer>
												</section>
												<hr>
												<section id="sidebar_element">
													<a href="#" class="image fit"><img src="images/pic07.jpg" alt=""></a>
													<h3>Amet Lorem Tempus</h3>
													<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button">Learn More</a></li>
														</ul>
													</footer>
												</section>										
											
											<div style="text-align: center">
												<a href="#">&lt;</a>&nbsp;&nbsp;&nbsp;
												1&nbsp;&nbsp;&nbsp;
												<a href="#">2</a>&nbsp;&nbsp;&nbsp;
												<a href="#">3</a>&nbsp;&nbsp;&nbsp;
												<a href="#">4</a>&nbsp;&nbsp;&nbsp;
												<a href="#">5</a>&nbsp;&nbsp;&nbsp;
												<a href="#">&gt;</a>
											</div>
																							
											</section>											
									</div>
									
									
								</div>
							</div>
						</div>
						
				</div>
			</div>
		</div>
	<script src="assets/js/signup.js"></script>
</html>