<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
			<div id="main" class="wrapper style1">
				<div class="container">
					<!-- main -->
							<header class="major">
								<h2>Post</h2>
							</header>
								<div class="row gtr-150">
								
								<!--  대체 왜?  -->
								<div class="col-4 col-12-medium">
								</div>
								
								<!-- Sidebar_responsive -->
									<div class="col-4 col-12-medium">
										<section id="sidebar_responsive">
												<section id="sidebar_element">
													<div id="responsive_sidebar_follow_list" class="sidebar_my_follow_list_elem">
													<div th:each="follow_my_list : ${Follow_my_list}">
														<div id="follow_list">
															<img class="header_profileimg" th:src="| /memberimg/${follow_my_list.getMember_profileimg().getMember_profileimg_filename()} |">
															<h4 class="follow_id"><a th:href="| /mypage/${follow_my_list.getMember_id()} |">[[ ${follow_my_list.getMember_id()} ]]</a></h4>
														</div>
													</div>		
													</div>		
												</section>
												<hr>
										</section>
									</div>
								
									<div class="col-8 col-12-medium">
										<!-- Content -->
											<div id="maincontent">
											
												<section id="content1"
												th:each="post_list, num : ${post_list}">

													<div id="post_header">
														<div id="post_header_element"><h3 class="post_title">[[ ${post_list.getPost_title()} ]]</h3></div>
														
														<div id="post_header_element">
															<div th:id="${post_list.getPost_no()}" class="icon_menu_sprite" onClick="post_slideToggleFunc(this.id)"></div>
																											
																<div th:id="post_slideToggle" th:class="${post_list.getPost_no()}">
																	<div th:if="${post_list.getMember_no()} == ${session.session_info.get().getMember_no()}">
																		<form method='POST' action='/modifypost'>
																			<input type="hidden" th:value="${post_list.getPost_no()}" />
																			<input type="submit" value="게시글 수정" />
																		</form>
																		<form method="post" action="/deletepost">
																			<input type="hidden" name="post_no" th:value="${post_list.getPost_no()}" />
																			<input type="submit" value="게시글 삭제">
																		</form>
																	</div>
																	<div th:unless="${post_list.getMember_no()} == ${session.session_info.get().getMember_no()}">
																		<div th:if="${follow_check.get(num.index)} == X">
																		<div th:id="|follow_${post_list.getMember_no()}|" th:name="${post_list.getPost_no()}" onclick="follow(this.id)"><a>팔로우</a></div>
																		</div>
																		<div th:unless="${follow_check.get(num.index)} == X">
																		<div th:id="|follow_${post_list.getMember_no()}|" th:name="${post_list.getPost_no()}" onclick="follow(this.id)"><a>팔로우 취소</a></div>
																		</div>
																		
																	</div>
																</div>
														</div>
														
													</div>
													<!-- th:onclick="|location.href='@{| /detailpost?name=${post_list} |}'|" -->
													<a th:href="| /detailpost?name=${post_list.getMember().getMember_id()}&post=${post_list.getPost_no()} |" class="image fit">
														<img class="imagefit" th:src="| /postimg/${post_list.getPost_img().getPost_img_filename()} |" alt="">
													</a>
													<div id="post_content" class="post_content">
														<h5>[[ ${post_list.getPost_subtitle()} ]]</h5>
														<p id="post_content_text">[[ ${post_list.getPost_contents()} ]]</p>
													</div>
													<hr class="line_unset">
													<div id="post_hashtag" class="post_hashtag">
													<div th:if="${ !post_menu_hashtag.get(num.index).empty }">
														<div th:each="hash_num : ${#numbers.sequence(1, post_menu_hashtag_cnt.get(num.index))}">
															<h5>[[| ${post_menu_hashtag.get(num.index).get(hash_num-1).getPost_hashtag_list()} |]]</h5>
														</div>
													</div>
														
													</div>
													<section id="bottom_menu">
														<hr class="line_unset">
														<div id="bottom_menu_icon">
														
															<div th:if="${like_check.get(num.index)} == null">
																<div th:id="| heart_${post_list.getPost_no()} |" th:name="${post_list.getPost_no()}" class="icon_heart_sprite" onClick="like(this.id)"></div>
															</div>
															<div th:unless="${like_check.get(num.index)} == null">
																<div th:id="| heart_${post_list.getPost_no()} |" th:name="${post_list.getPost_no()}" class="icon_heart_sprite_on" onClick="like(this.id)"></div>
															</div>
															
															<div th:if="${bookmark_check.get(num.index)} == null">
																<div th:id="|bookmark_${post_list.getPost_no()}|" th:name="${post_list.getPost_no()}" class="icon_bookmark_sprite" onClick="bookmark(this.id)"></div>
															</div>
															<div th:unless="${bookmark_check.get(num.index)} == null">
																<div th:id="|bookmark_${post_list.getPost_no()}|" th:name="${post_list.getPost_no()}" class="icon_bookmark_sprite_on" onClick="bookmark(this.id)"></div>
															</div>
															
															<form method='POST' action='/downloadFile'>
																<input type="hidden" name="post_img_original_filename" th:value="${post_list.getPost_img().getPost_img_original_filename()}" >
																<input type="hidden" name="post_img_filename" th:value="${post_list.getPost_img().getPost_img_filename()}" >
																<div class="icon_download_sprite">
																<input type="submit" th:id="|download_${post_list.getPost_no()}|" th:name="${post_list.getPost_no()}" value="">
																</div>
															</form>
															
														</div>
														
														<div id="bottom_menu_text">
															<div th:id="like_slideToggle" th:class="| likeCount_${post_list.getPost_no()} |">
																<!-- like_list -->
																<div th:if="${ !Post_Like_list.get(num.index).empty }">
																<div th:each="num3 : ${#numbers.sequence(1, Like_cnt.get(num.index))}">
																	<img class="header_profileimg" th:src="| /memberimg/${Post_Like_list.get(num.index).get(num3-1).getMember_profileimg().getMember_profileimg_filename()} |">
																	[[| ${Post_Like_list.get(num.index).get(num3-1).getMember().getMember_id()} |]]
																</div>
																</div>
																<div th:unless="${ !Post_Like_list.get(num.index).empty }">                                                               
																	X
																</div>																	
															</div>
															
															<h5 th:id="|likeCount_${post_list.getPost_no()}|" class="like_count" onClick="like_listFunc(this.id)">좋아요 [[ ${post_list.getLike_stat().getLike_stat_count()} ]] 개</h5>
															<h5 th:id="|bookmarkCount_${post_list.getPost_no()}|" class="bookmark_count" onClick="bookmark_listFunc(this.id)">북마크 [[ ${post_list.getBookmark().getBookmark_count()} ]] 개</h5>
																
														</div>
														
														<!-- Comment -->

														<div th:if="${ !Post_Comment_list.get(num.index).empty }">
														<div th:each="comment_num : ${#numbers.sequence(1, Comment_cnt.get(num.index))}">
															<div th:id="|comment_item_${Post_Comment_list.get(num.index).get(comment_num-1).getComment_no()}|">
																<div id="comment">
																	<div class="comment_list">
																		<img class="header_profileimg" th:src="| /memberimg/${Post_Comment_list.get(num.index).get(comment_num-1).getMember_profileimg().getMember_profileimg_filename()} |">
																		<h5 class="comment_id">[[| ${Post_Comment_list.get(num.index).get(comment_num-1).getMember().getMember_id()} |]]</h5>
																		<h6 class="comment_elem">[[ ${Post_Comment_list.get(num.index).get(comment_num-1).getComment_text()} ]]</h6>
																		
																		<div th:if="${comment_like_check.get(comment_num-1)} == 'O'">
																			<div th:id="| commentLike_${Post_Comment_list.get(num.index).get(comment_num-1).getComment_no()} |" class="icon_comment_heart_on" th:onclick="likecomment(this.id, [[${Post_Comment_list.get(num.index).get(comment_num-1).getPost_no()}]] )"></div>
																		</div>
																		<div th:unless="${comment_like_check.get(comment_num-1)} == 'O'">
																			<div th:id="| commentLike_${Post_Comment_list.get(num.index).get(comment_num-1).getComment_no()} |" class="icon_comment_heart" th:onclick="likecomment(this.id, [[${Post_Comment_list.get(num.index).get(comment_num-1).getPost_no()}]] )"></div>
																		</div>	
																								
																		<div th:if="${Post_Comment_list.get(num.index).get(comment_num-1).getMember_no()} == ${session.session_info.get().getMember_no()}">
																			<div th:id="${Post_Comment_list.get(num.index).get(comment_num-1).getComment_no()}" class="icon_comment_del_sprite" onclick="delcomment(this.id)"></div>
																		</div>
																		
																	</div>
																	
																	<div class="comment_date">
																		<h6>[[ ${Post_Comment_list.get(num.index).get(comment_num-1).getComment_date()} ]]</h6>
																	</div>
																</div>	
															</div>
														</div>
														</div>
														<div th:unless="${ !Post_Comment_list.get(num.index).empty }">
															X
														</div> 
														
														<!-- comment ajax -->
														<div th:id="|comment_${post_list.getPost_no()}|"></div>

															<div id="comment_new">
																<hr class="line_unset">
																<input type="text" th:id="|comment_text_${post_list.getPost_no()}|" th:name="${post_list.getPost_no()}" class="comment_new_input" placeholder="댓글달기">
																<a  th:id="${post_list.getPost_no()}"  class="comment_btn" th:onClick="comment(this.id, comment_text_[[${post_list.getPost_no()}]] )">등록</a>
															</div>

													</section>
										
												</section>
																							
												<div id="maincontent_list_ajax"></div>
												<input type="hidden" id="page" value="3">
								
											</div>
									<hr>
									</div>
									
									<div class="col-4 col-12-medium">
										<!-- Sidebar -->
										<div id="sidebar_fix">
											<section id="sidebar_side" class="sidebar_side">
		
												<hr>
												
												<section id="sidebar_element">
													<h4>내가 팔로우한 리스트</h4>
													<div id="sidebar_follow_list" class="my_follow_list_elem">
													<div th:each="follow_my_list : ${Follow_my_list}">
														<div id="follow_list" th:class="| my_follow_list_${follow_my_list.getMember_no()} |">
															<img class="header_profileimg" th:src="| /memberimg/${follow_my_list.getMember_profileimg().getMember_profileimg_filename()} |">
															<h4 class="follow_id"><a th:href="| /mypage/${follow_my_list.getMember_id()} |">[[ ${follow_my_list.getMember_id()} ]]</a></h4>
														</div>
													</div>
													</div>
												</section>
												<section id="sidebar_element">
													<h4>나를 팔로우한 리스트</h4>
													<div id="sidebar_follow_list">
													<div th:each="follow_me_list : ${Follow_me_list}">
														<div id="follow_list">
															<img class="header_profileimg" th:src="| /memberimg/${follow_me_list.getMember_profileimg().getMember_profileimg_filename()} |">
															<h4 class="follow_id"><a th:href="| /mypage/${follow_me_list.getMember_id()} |">[[ ${follow_me_list.getMember_id()} ]]</a></h4>
														</div>	
													</div>
													</div>
												</section>
																																
											</section>	
										</div>										
									</div>
									
									
								</div>
							</div>
						</div>
						
			<!-- script -->
			<script src="assets/js/infinitescroll.js"></script>
			<script src="assets/js/mainboard.js"></script>
			<script src="assets/js/hash.js"></script>
			<script>
				function post_slideToggleFunc(id){
					$("." + id).animate({width: 'toggle'}, 400);
				}
			</script>	
			<script>
				function like_listFunc(id){
					$("." + id).animate({width: 'toggle'}, 400);
				}
			</script>	
		</div>
</html>