<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout">
	
	<div layout:fragment="content">
		<meta charset="utf-8" />
		
		<!-- Script -->
			<script th:inline="javascript">
				
			</script>
		
			<div id="main" class="wrapper style1">
				<div class="container">
					<!-- main -->
							<header class="major">
								<h2>[[ ${member_info.get().getMember_id()} ]]</h2>
								<p>[[ ${member_info.get().getMember_introduce()} ]]</p>
							</header>
								
								<section id="mypage_profile">
									<div class="profile_wrap">
										<div class="profile_img">
											<div class="profile_myimage"><img class="img" th:src="| /memberimg/${member_info.get().getMember_profileimg().getMember_profileimg_filename()} |" alt="" /></div>
										</div>
									</div>
									
									<div class="profile_menu">
										<div class="top">
											<div class="menu_elem">
												<input type="button" id="postvisible_btn" th:onclick="'location.href=\''+ @{${member_info.get().getMember_id()}} + '?postpage=1\''" value="게시물" class="menu_elem_elem">
											</div>
											
											<div class="menu_elem">
												<input type="button" id="bookmarkvisible_btn" th:onclick="'location.href=\''+ @{${member_info.get().getMember_id()}} + '?bookmarkpage=1\''" value="북마크" class="menu_elem_elem">
											</div>
											
											<div class="menu_elem">
												<input type="button" onclick="location.href='/writepost'" value="게시물 등록" class="menu_elem_elem">
											</div>
											
										</div>
									</div>
								</section>
								
							<!-- my_post -->	
							<div id="postvisible" class="postvisible_on">							
								<div class="col-4 col-12-medium">
										<div style="text-align: center" class="my_post_page">
											<a th:each="page_count : ${page_count}" th:href="| ${member_info.get().getMember_id()}?postpage=${page_count} |">[[ ${page_count} ]]&nbsp;&nbsp;&nbsp;</a>
										</div>
								</div>

								<section id="my_post">
									<section id="my_post_element"
									th:each="post_list, num : ${post_list}">
										<a th:href="| /detailpost?name=${post_list.getMember().getMember_id()}&post=${post_list.getPost_no()} |" class="pic">            <!-- post_list.get(i).getPost_img() -> post_list.getPost_img() -->
											<img class="pic" th:src="| /postimg/${post_list.getPost_img().getPost_img_filename()} |" alt="">
											<h3>[[ ${post_list.getPost_title()} ]]</h3>
										</a>	
									</section>	
	
								</section>
							</div>
											
							<!-- my_bookmark -->
							<div id="bookmarkvisible" class="bookmarkvisible">								
								<div class="col-4 col-12-medium">
										<div style="text-align: center" class="my_post_page">
											<a th:each="bookmark_page_count : ${bookmark_page_count}" th:href="| ${member_info.get().getMember_id()}?bookmarkpage=${bookmark_page_count} |">[[ ${bookmark_page_count} ]]&nbsp;&nbsp;&nbsp;</a>
										</div>
								</div>

								<section id="my_post">
								
									<section id="my_post_element"
									th:each="bookmark_list, num : ${bookmark_list}">
										<a href="#" class="pic">            <!-- post_list.get(i).getPost_img() -> post_list.getPost_img() -->
											<img class="pic" th:src="| /postimg/${bookmark_list.getPost_img().getPost_img_filename()} |" alt="">
											<h3>[[ ${bookmark_list.getPost().getPost_title()} ]]</h3>
										</a>	
									</section>	
	
								</section>		
							</div>
										
									<!-- 반응형 -->
									
									<!-- post_list -->																			
									<section id="my_post_responsive">
									
										<section id="content1"
										th:each="post_list, num : ${post_list}">
											<a href="#" class="pic">            <!-- post_list.get(i).getPost_img() -> post_list.getPost_img() -->
												<a th:text="${num.count}"></a>
												<img class="pic" th:src="| /postimg/${post_list.getPost_img().getPost_img_filename()} |" alt="">
												<h3>Amet Lorem Tempus</h3>
											</a>	
										</section>	
									
									</section>
									
									<!-- post_list -->																			
									<section id="my_post_responsive">
									
										<section id="content1"
										th:each="bookmark_list, num : ${bookmark_list}">
											<a href="#" class="pic">            <!-- post_list.get(i).getPost_img() -> post_list.getPost_img() -->
												<a th:text="${num.count}"></a>
												<img class="pic" th:src="| /postimg/${bookmark_list.getPost_img().getPost_img_filename()} |" alt="">
												<h3>Amet Lorem Tempus</h3>
											</a>	
										</section>	
									
									</section>

				</div>							
		</div>
		<!-- script -->
<!-- 		<script src="/assets/js/mypage.js"></script> -->	
	</div>

</html>