<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleweb.simpleweb.mapper.AlarmMapper">

	<insert id="insertAlarm_chat" parameterType="com.simpleweb.simpleweb.model.Alarm_chat">
		insert into alarm_chat(alarm_member_no, alarm_division, alarm_contents_pk, chatroom_no)
		
		values
			(
			   #{member_no},
			   #{alarm.alarm_division},
			   #{alarm.alarm_contents_pk},
			   #{alarm.chatroom_no}
			);			
	</insert>

	<resultMap id="JoinAlarmRM" type="com.simpleweb.simpleweb.model.Alarm_chat">
		<id property="alarm_no" column="alarm_no" />
		<result property="alarm_member_no" column="alarm_member_no" />
		<result property="alarm_division" column="alarm_division" />
		<result property="alarm_contents_pk" column="alarm_contents_pk" />
		<result property="chatroom_no" column="chatroom_no" />
		<result property="alarm_group_count" column="alarm_group_count" />
		<result property="alarm_count" column="alarm_count" />
		
		<!-- 1 : 1 -->
			<association javaType="Chatlog" property="chatlog">
				<id property="chatlog_no" column="chatlog_no" />
				<result property="member_no" column="member_no" />
				<result property="chatroom_no" column="chatroom_no" />
				<result property="chatlog_log" column="chatlog_log" />
				<result property="chatlog_division" column="chatlog_division" />
				<result property="chatlog_date" column="chatlog_date" />
			</association>	
			
		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />
			</association>	
	</resultMap>

	<select id="getAlarm" resultMap="JoinAlarmRM">
		select *, count(*) as alarm_group_count
		
		from(
			   select m.alarm_no, m.alarm_member_no, m.alarm_division, m.alarm_contents_pk,
			          n.chatlog_no, n.member_no, n.chatroom_no, n.chatlog_log, n.chatlog_division,
			          n.chatlog_date,
			          p.member_id 	
			          
			   from alarm_chat as m
			   
		       left join chatlog as n
		       on m.alarm_contents_pk = n.chatlog_no
		
		       left join member as p
		       on n.member_no = p.member_no
		
		       where m.alarm_member_no=#{member_no}
		
		       order by m.alarm_no desc	
		       
		       limit 18446744073709551615		   
		
		) as A
		
		group by chatroom_no;

		
	</select>
	
	<select id="getAlarm_count" resultType="int">
		select count(alarm_member_no) as alarm_count
		
		from alarm_chat
		
		where alarm_member_no=#{member_no}
	</select>
	
	<select id="getAlarm_info" resultMap="JoinAlarmRM">
	   select m.alarm_no, m.alarm_member_no, m.alarm_division, m.alarm_contents_pk,
	          n.chatlog_no, n.member_no, n.chatroom_no, n.chatlog_log, n.chatlog_division,
	          n.chatlog_date,
	          p.member_id 	
	          
	   from alarm_chat as m
	   
       left join chatlog as n
       on m.alarm_contents_pk = n.chatlog_no

       left join member as p
       on n.member_no = p.member_no

       where m.alarm_no=#{alarm_no}
	</select>
	
	<delete id="deleteAlarm" parameterType="com.simpleweb.simpleweb.model.Alarm_chat">
			delete from alarm_chat
			
			where chatroom_no = #{chatroom_no}
	</delete>
	
</mapper>