<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleweb.simpleweb.mapper.BoardMapper">
	<insert id="insertPost" parameterType="com.simpleweb.simpleweb.model.Post" useGeneratedKeys="true" keyProperty="post_no">
		insert into post(post_title, post_subtitle, post_contents, member_no, post_date)
		
		values (  #{post.post_title} ,
		          #{post.post_subtitle} ,
		          #{post.post_contents} ,
		          #{post.member_no} , 
		          #{post.post_date}        )		
	</insert>
	<insert id="insertPostImg" parameterType="com.simpleweb.simpleweb.model.Post_img">
		insert into post_img(post_no, post_img_filename, post_img_original_filename, post_img_url, post_img_date) 
		
		values (  #{post_img.post_no} ,
				  #{post_img.post_img_filename} ,
		          #{post_img.post_img_original_filename} ,
		          #{post_img.post_img_url} ,
		          #{post_img.post_img_date}                )
	</insert>
	
	<select id="getTotal_fileList" resultType="int">
		select count(*)
		
		from post
		
		where member_no=#{member_no}
	</select>
	
	<resultMap id="JoinPostRM" type="com.simpleweb.simpleweb.model.Post">
		<id property="post_no" column="post_no" />
		<result property="member_no" column="member_no" />
		<result property="post_title" column="post_title" />
		<result property="post_subtitle" column="post_subtitle" />
		<result property="post_contents" column="post_contents" />
		<result property="post_date" column="post_date" />
		
		<!-- 1 : 1 -->
			<association javaType="Post_img" property="post_img">
				<id property="post_img_no" column="post_img_no" />
				<result property="post_no" column="post_no" />
				<result property="post_img_filename" column="post_img_filename" />
				<result property="post_img_original_filename" column="post_img_original_filename" />
				<result property="post_img_url" column="post_img_url" />
				<result property="post_img_date" column="post_img_date" />
			</association>
		<!-- 1 : n -->
			<collection javaType="Like_stat" property="like_stat">
				<id property="like_stat_no" column="like_stat_no" />
				<result property="member_no" column="member_no" />
				<result property="post_no" column="post_no" />
				<result property="like_stat_check" column="like_stat_check" />	
				<result property="like_stat_count" column="like_stat_count" />			
			</collection>
	</resultMap>
	
	<select id="getPost_list" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		where m.member_no=#{member_no}
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
	</select>

	<select id="getPost_list_algo" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
		
	</select>
	
	<resultMap id="JoinPostLikeRM" type="com.simpleweb.simpleweb.model.Like_stat">
		<id property="like_stat_no" column="like_stat_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="like_stat_check" column="like_stat_check" />	
		<result property="like_stat_count" column="like_stat_count" />	
		
		<!-- 1 : 1 -->
			<association javaType="Post" property="post">
				<id property="post_no" column="post_no" />
				<result property="member_no" column="member_no" />
				<result property="post_title" column="post_title" />
				<result property="post_subtitle" column="post_subtitle" />
				<result property="post_contents" column="post_contents" />
				<result property="post_date" column="post_date" />
			</association>
		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>

	<select id="getLike_list" resultMap="JoinPostLikeRM">
		select m.post_no, m.like_stat_check, m.like_stat_no, m.member_no,
				n.member_id, p.member_no,
				p.member_profileimg_filename,
				l.post_no
		       
		from like_stat as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as p
		on n.member_no = p.member_no
        
        left join post as l
        on m.post_no = l.post_no
        
        where m.post_no = #{post_no}
		
		order by m.like_stat_no desc
	</select>	
	
	<resultMap id="JoinPostcommentRM" type="com.simpleweb.simpleweb.model.Comment">
		<id property="comment_no" column="comment_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="comment_text" column="comment_text" />	
		<result property="comment_date" column="comment_date" />	

		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>
	
	<select id="getComment_list" resultMap="JoinPostcommentRM">
		select m.comment_no, m.member_no, m.post_no, m.comment_text, m.comment_date,
			   n.member_id, l.member_profileimg_filename
		
		from comment as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as l
		on n.member_no = l.member_no
		
		where m.post_no = #{post_no}	
	</select>
	
</mapper>