<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleweb.simpleweb.mapper.BoardFuncMapper">
	<select id="validlikecheck" resultType="com.simpleweb.simpleweb.model.Like_stat">
		select like_stat_no, member_no, post_no, like_stat_check
		
		from like_stat
		
		where
		     member_no = #{like_stat.member_no}
		 and post_no = #{like_stat.post_no}
		 and like_stat_check = #{like_stat.like_stat_check}
	</select>

	<insert id="insertLike_stat" parameterType="com.simpleweb.simpleweb.model.Like_stat">
		insert into like_stat(member_no, post_no, like_stat_check)
		
		values
		   #{like_stat.member_no} ,
		   #{like_stat.post_no} ,
		   #{like_stat.like_stat_check}  		
	</insert>
	
	<delete id="deleteLike_stat"  parameterType="com.simpleweb.simpleweb.model.Like_stat">
		delete from like_stat
		
		where
		     member_no = #{like_stat.member_no}
		 and post_no = #{like_stat.post_no}
		 and like_stat_check = #{like_stat.like_stat_check}
	</delete>
	
	<select id="getLikeCount" resultType="int">
		select count(*) as like_stat_count
		
		from like_stat
		
		where post_no = #{post_no}
	</select>
	
	<select id="validbookmarkcheck" resultType="com.simpleweb.simpleweb.model.Bookmark">
		select bookmark_no, member_no, post_no, bookmark_check, bookmark_date
		
		from bookmark
		
		where
		     member_no = #{bookmark.member_no}
		 and post_no = #{bookmark.post_no}
		 and bookmark_check = #{bookmark.bookmark_check}
	</select>
	
	<insert id="insertBookmark" parameterType="com.simpleweb.simpleweb.model.Bookmark">
		insert into bookmark(member_no, post_no, bookmark_check, bookmark_date)
		
		values
		   #{bookmark.member_no} ,
		   #{bookmark.post_no} ,
		   #{bookmark.bookmark_check},
		   #{bookmark.bookmark_date}  		
	</insert>
	
	<delete id="deleteBookmark"  parameterType="com.simpleweb.simpleweb.model.Bookmark">
		delete from bookmark
		
		where
		     member_no = #{bookmark.member_no}
		 and post_no = #{bookmark.post_no}
		 and bookmark_check = #{bookmark.bookmark_check}
	</delete>
	
	<select id="getBookmarkCount" resultType="int">
		select count(*) as bookmark_count
		
		from bookmark
		
		where post_no = #{post_no}
	</select>
	
	<insert id="insertComment" parameterType="com.simpleweb.simpleweb.model.Comment" useGeneratedKeys="true" keyProperty="comment_no">
		insert into comment(member_no, post_no, comment_text, comment_date)
		
		values
		   #{comment.member_no} ,
		   #{comment.post_no} ,
		   #{comment.comment_text} ,
		   #{comment.comment_date}    		
	</insert>
	
	<delete id="delcomment"  parameterType="com.simpleweb.simpleweb.model.Comment">
		delete from comment
		
		where comment_no = #{comment_no}
	</delete>
	
	<resultMap id="JoinPostcommentRM" type="com.simpleweb.simpleweb.model.Comment">
		<id property="comment_no" column="comment_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="comment_text" column="comment_text" />	
		<result property="comment_date" column="comment_date" />	

		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>
	
	<select id="getComment_list" resultMap="JoinPostcommentRM">
		select m.comment_no, m.member_no, m.post_no, m.comment_text, m.comment_date,
			   n.member_id, l.member_profileimg_filename
		
		from comment as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as l
		on n.member_no = l.member_no
		
		where m.comment_no = #{comment_no}	
	</select>
	
	<select id="validcommentlikecheck" resultType="com.simpleweb.simpleweb.model.Comment_like_stat">
		select comment_like_stat_no, member_no, comment_no, post_no, comment_like_stat_check, comment_like_stat_date
		
		from comment_like_stat
		
		where
		     member_no = #{comment_like_stat.member_no}
		 and comment_no = #{comment_like_stat.comment_no}
		 and post_no = #{comment_like_stat.post_no}
		 and comment_like_stat_check = #{comment_like_stat.comment_like_stat_check}
	</select>
	
	<insert id="insertComment_Like_stat" parameterType="com.simpleweb.simpleweb.model.Comment_like_stat">
		insert into comment_like_stat(member_no, comment_no, post_no, comment_like_stat_check, comment_like_stat_date)
		
		values
		   #{comment_like_stat.member_no} ,
		   #{comment_like_stat.comment_no} ,
	       #{comment_like_stat.post_no} ,
		   #{comment_like_stat.comment_like_stat_check} ,
		   #{comment_like_stat.comment_like_stat_date}   		
	</insert>
	
	<delete id="deleteComment_Like_stat"  parameterType="com.simpleweb.simpleweb.model.Comment_like_stat">
		delete from comment_like_stat
		
		where
		    member_no = #{comment_like_stat.member_no} 
		and comment_no = #{comment_like_stat.comment_no} 
		and comment_like_stat_check = #{comment_like_stat.comment_like_stat_check}
	</delete>
	
	<select id="getCommentLikeCount" resultType="int">
		select count(*) as comment_like_stat_count
		
		from comment_like_stat
		
		where comment_no = #{comment_no}
	</select>
	
	<select id="validfollowcheck" resultType="com.simpleweb.simpleweb.model.Follow">
		select follow_no, member_no, follow_member_no, follow_date
		
		from follow
		
		where member_no = #{Follow.member_no} and follow_member_no = #{Follow.follow_member_no}
	</select>

	<insert id="insertFollow" parameterType="com.simpleweb.simpleweb.model.Follow">
		insert into follow(member_no, follow_member_no, follow_date)
		
		values
		   #{Follow.member_no} ,
		   #{Follow.follow_member_no} ,
		   #{Follow.follow_date}   		
	</insert>
	
	<delete id="deleteFollow"  parameterType="com.simpleweb.simpleweb.model.Follow">
		delete from follow
		
		where member_no = #{Follow.member_no} and follow_member_no = #{Follow.follow_member_no}
	</delete>
	
</mapper>