<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleweb.simpleweb.mapper.BoardMapper">
	<insert id="insertPost" parameterType="com.simpleweb.simpleweb.model.Post" useGeneratedKeys="true" keyProperty="post_no">
		insert into post(post_title, post_subtitle, post_contents, member_no, post_date)
		
		values (  #{post.post_title} ,
		          #{post.post_subtitle} ,
		          #{post.post_contents} ,
		          #{post.member_no} , 
		          #{post.post_date}        )		
	</insert>
	<insert id="insertPostImg" parameterType="com.simpleweb.simpleweb.model.Post_img">
		insert into post_img(post_no, post_img_filename, post_img_original_filename, post_img_url, post_img_date) 
		
		values (  #{post_img.post_no} ,
				  #{post_img.post_img_filename} ,
		          #{post_img.post_img_original_filename} ,
		          #{post_img.post_img_url} ,
		          #{post_img.post_img_date}                )
	</insert>

	<insert id="insertPostHashtag" parameterType="com.simpleweb.simpleweb.model.Post_hashtag">
		insert into post_hashtag(post_no, post_hashtag_list, post_hashtag_division) 
		
		values (  #{post_no} ,
				  #{post_hashtag_list},
				  #{post_hashtag_division}   )
	</insert>
	
	<select id="getTotal_fileList" resultType="int">
		select count(*)
		
		from post
		
		where member_no=#{member_no}
	</select>
	
	<resultMap id="JoinPostRM" type="com.simpleweb.simpleweb.model.Post">
		<id property="post_no" column="post_no" />
		<result property="member_no" column="member_no" />
		<result property="post_title" column="post_title" />
		<result property="post_subtitle" column="post_subtitle" />
		<result property="post_contents" column="post_contents" />
		<result property="post_date" column="post_date" />
		
		<!-- 1 : 1 -->
			<association javaType="Post_img" property="post_img">
				<id property="post_img_no" column="post_img_no" />
				<result property="post_no" column="post_no" />
				<result property="post_img_filename" column="post_img_filename" />
				<result property="post_img_original_filename" column="post_img_original_filename" />
				<result property="post_img_url" column="post_img_url" />
				<result property="post_img_date" column="post_img_date" />
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : n -->
			<collection javaType="Like_stat" property="like_stat">
				<id property="like_stat_no" column="like_stat_no" />
				<result property="member_no" column="member_no" />
				<result property="post_no" column="post_no" />
				<result property="like_stat_check" column="like_stat_check" />	
				<result property="like_stat_count" column="like_stat_count" />			
			</collection>
			
		<!-- 1 : n -->
			<collection javaType="Bookmark" property="bookmark">
				<id property="bookmark_no" column="bookmark_no" />
				<result property="member_no" column="member_no" />
				<result property="post_no" column="post_no" />
				<result property="bookmark_check" column="bookmark_check" />
				<result property="bookmark_date" column="bookmark_date" />	
				<result property="bookmark_count" column="bookmark_count" />			
			</collection>
			
	</resultMap>
	
	<select id="getMyPost_list" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count,
			   count(o.post_no) as bookmark_count,
			   l.member_id
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		left join bookmark as o
		on m.post_no = o.post_no
		
		left join member as l
		on m.member_no = l.member_no
		
		where m.member_no=#{member_no}
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
	</select>

	<select id="getPost_list_algo" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count,
			   count(o.post_no) as bookmark_count,
			   l.member_id
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		left join bookmark as o
		on m.post_no = o.post_no
		
		left join member as l
		on m.member_no = l.member_no
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
		
	</select>
	
	<select id="getPost_list_algo_search" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count,
			   count(o.post_no) as bookmark_count,
			   l.member_id
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		left join bookmark as o
		on m.post_no = o.post_no
		
		left join member as l
		on m.member_no = l.member_no
		
		where m.post_title = #{search}
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
		
	</select>
	
	<select id="getMemberPost" resultMap="JoinPostRM">
		select m.post_no, m.member_no, m.post_title, m.post_subtitle, m.post_contents, m.post_date,
			   n.post_img_no, n.post_img_filename, n.post_img_original_filename, n.post_img_url, n.post_img_date,
			   count(p.post_no) as like_stat_count,
			   count(o.post_no) as bookmark_count,
			   l.member_id
		       
		from post as m 
		
		left join post_img as n
		on m.post_no = n.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no
		
		left join bookmark as o
		on m.post_no = o.post_no
		
		left join member as l
		on m.member_no = l.member_no
		
		where m.post_no=#{post_no} and m.member_no=#{member_no}

		order by m.post_no desc	
	</select>
	
	<resultMap id="JoinPostLikeRM" type="com.simpleweb.simpleweb.model.Like_stat">
		<id property="like_stat_no" column="like_stat_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="like_stat_check" column="like_stat_check" />	
		<result property="like_stat_count" column="like_stat_count" />	
		
		<!-- 1 : 1 -->
			<association javaType="Post" property="post">
				<id property="post_no" column="post_no" />
				<result property="member_no" column="member_no" />
				<result property="post_title" column="post_title" />
				<result property="post_subtitle" column="post_subtitle" />
				<result property="post_contents" column="post_contents" />
				<result property="post_date" column="post_date" />
			</association>
		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>

	<select id="getLike_list" resultMap="JoinPostLikeRM">
		select m.post_no, m.like_stat_check, m.like_stat_no, m.member_no,
				n.member_id, p.member_no,
				p.member_profileimg_filename,
				l.post_no
		       
		from like_stat as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as p
		on n.member_no = p.member_no
        
        left join post as l
        on m.post_no = l.post_no
        
        where m.post_no = #{post_no}
		
		order by m.like_stat_no desc
	</select>	
	
	<select id="getTotal_bookmarkList" resultType="int">
		select count(*)
		
		from bookmark
		
		where member_no=#{member_no}
	</select>
	
	<resultMap id="JoinPostBookmarkRM" type="com.simpleweb.simpleweb.model.Bookmark">
		<id property="bookmark_no" column="bookmark_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="bookmark_check" column="bookmark_check" />	
		<result property="bookmark_date" column="bookmark_date" />	
		
		<!-- 1 : 1 -->
			<association javaType="Post" property="post">
				<id property="post_no" column="post_no" />
				<result property="member_no" column="member_no" />
				<result property="post_title" column="post_title" />
				<result property="post_subtitle" column="post_subtitle" />
				<result property="post_contents" column="post_contents" />
				<result property="post_date" column="post_date" />
			</association>
		<!-- 1 : 1 -->
			<association javaType="Post_img" property="post_img">
				<id property="post_img_no" column="post_img_no" />
				<result property="post_no" column="post_no" />
				<result property="post_img_filename" column="post_img_filename" />
				<result property="post_img_original_filename" column="post_img_original_filename" />
				<result property="post_img_url" column="post_img_url" />
				<result property="post_img_date" column="post_img_date" />
			</association>
		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>
	
	<select id="getBookmark_list" resultMap="JoinPostBookmarkRM">
		select m.bookmark_no, m.member_no, m.post_no, m.bookmark_check, m.bookmark_date,
			   n.post_title, n.post_subtitle, n.post_contents, n.post_date,
			   o.post_img_no, o.post_img_filename, o.post_img_original_filename, o.post_img_url,
			   p.like_stat_no, p.like_stat_check
			      
		from bookmark as m 
		
		left join post as n
		on m.post_no = n.post_no
		
		left join post_img as o
		on m.post_no = o.post_no
		
		left join like_stat as p
		on m.post_no = p.post_no

		left join member as l
		on m.member_no = l.member_no
		
		where m.member_no=#{member_no}
		
		group by m.post_no
		
		order by m.post_no desc
		limit #{startPage}, #{onePageCnt}
	</select>
	
	<select id="getPost_Bookmark_list" resultMap="JoinPostBookmarkRM">
		select m.post_no, m.member_no, m.post_no, m.bookmark_check, m.bookmark_date,
			   n.member_id, p.member_no,
			   p.member_profileimg_filename,
			   l.post_no
		
		from bookmark as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as p
		on n.member_no = p.member_no
        
        left join post as l
        on m.post_no = l.post_no
        
        where m.post_no = #{post_no}
		
		order by m.bookmark_no desc	
	</select>
	
	<resultMap id="JoinPostcommentRM" type="com.simpleweb.simpleweb.model.Comment">
		<id property="comment_no" column="comment_no" />
		<result property="member_no" column="member_no" />
		<result property="post_no" column="post_no" />
		<result property="comment_text" column="comment_text" />	
		<result property="comment_date" column="comment_date" />	

		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>
	
	<select id="getComment_list" resultMap="JoinPostcommentRM">
		select m.comment_no, m.member_no, m.post_no, m.comment_text, m.comment_date,
			   n.member_id, l.member_profileimg_filename
		
		from comment as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as l
		on n.member_no = l.member_no
		
		where m.post_no = #{post_no}	
	</select>
	<select id="getComment_like_stat" resultType="com.simpleweb.simpleweb.model.Comment_like_stat">
		select comment_like_stat_no, member_no, post_no, comment_no, comment_like_stat_check, comment_like_stat_date
		
		from comment_like_stat
		
		where member_no = #{member_no} and comment_no = #{comment_no} 	
	</select>
	
	<select id="getMemberLike_check" resultType="com.simpleweb.simpleweb.model.Like_stat">
		select like_stat_no, member_no, post_no, like_stat_check
		
		from like_stat
		
		where post_no=#{post_no} and member_no=#{member_no}
	</select>
	
	<select id="getMemberBookmark_check" resultType="com.simpleweb.simpleweb.model.Bookmark">
		select bookmark_no, member_no, post_no, bookmark_check, bookmark_date
		
		from bookmark
		
		where post_no = #{post_no} and member_no = #{member_no}
	</select>
	
	<resultMap id="JoinFollowRM" type="com.simpleweb.simpleweb.model.Follow">
		<id property="follow_no" column="follow_no" />
		<result property="member_no" column="member_no" />
		<result property="follow_member_no" column="follow_member_no" />
		<result property="follow_date" column="follow_date" />		

		<!-- 1 : 1 -->
			<association javaType="Member" property="member">
				<id property="member_no" column="member_no" />
				<result property="member_id" column="member_id" />
				<result property="member_pwd" column="member_pwd" />
				<result property="member_email" column="member_email" />
				<result property="member_nickname" column="member_nickname" />
				<result property="member_mobile" column="member_mobile" />
				<result property="member_job" column="member_job" />
				<result property="member_gender" column="member_gender" />
				<result property="member_introduce" column="member_introduce" />
				<result property="member_date" column="member_date" />		
			</association>
			
		<!-- 1 : 1 -->
			<association javaType="Member_profileimg" property="member_profileimg">
				<id property="member_profileimg_no" column="member_profileimg_no" />
				<result property="member_no" column="member_no" />
				<result property="member_profileimg_filename" column="member_profileimg_filename" />
				<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
				<result property="member_profileimg_url" column="member_profileimg_url" />
				<result property="member_profileimg_date" column="member_profileimg_date" />
			</association>
	</resultMap>
	
	<select id="getFollow_my_list" resultMap="JoinFollowRM">
		select m.follow_no, m.member_no, m.follow_member_no, m.follow_date,
		       n.member_id,
		       o.member_profileimg_filename
		
		from follow as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as o
		on n.member_no = o.member_no
		
		where m.member_no=#{member_no}
	</select>
	
	<select id="getFollow_me_list" resultMap="JoinFollowRM">
		select m.follow_no, m.member_no, m.follow_member_no, m.follow_date,
		       n.member_id,
		       o.member_profileimg_filename
		
		from follow as m
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as o
		on n.member_no = o.member_no
				
		where m.follow_member_no=#{member_no}
	</select>

	<select id="followcheck" resultType="com.simpleweb.simpleweb.model.Follow">
		select *
		
		from follow
		
		where member_no=#{member_no} and follow_member_no = #{follow_member_no}
	</select>

</mapper>